
{{#if @blog.logo}}
    <div class="logo" align="center">
<a class="blog-logo" href="{{@blog.url}}">
        <img class="blog-logo-image" src="{{@blog.logo}}" alt="Blog Logo"/>
</a>
    </div>
{{/if}}

<h5 align="center"><b>{{@blog.title}}</b></h5>
<hr>
<ul class="list-unstyled menu">
    <nav class="site-nav">
        {{#if @site.navigation}}
            <b>{{navigation}}</b>
        {{/if}}
    </nav>
</ul>